@import url('https://fonts.googleapis.com/css2?family=Cabin');

*{
    margin: 0%;
    padding: 0%;
}

.posts{
    font-family: Cabin;
    margin: 105px 10px;
    width: 70%;
}
.postsHeading{
    font-family: Cabin;
    margin: 120px 30px;
}

.postsDesc{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px 0;
    
}