@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0%;
  padding: 0%;
}

nav {
  font-family: Ubuntu;
  padding: 0 10px;
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 100;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid black;
}

img {
  height: 72px;
}

.navContainer {
  display: flex;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: rgb(219, 101, 101);
}

.navHead {
  font-size: 32px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navLi {
  color: black;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
a{
  text-decoration: none;
}

.navButton {
  font-family: Ubuntu;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  font-size: 16px;
}


@media screen and (max-width: 480px) {
  img{
    height: 40px;
  }
  .navHead {
    font-size: 24px;
  } 
  .navButton{
    visibility: hidden;
  }
  .navLi{
    font-size: 16px;
    margin: 0 80px;
  }
}